#login-form input:not([type="submit"]) {
    border-bottom: 1px solid lightgray;
    transition: border-color 0.3s ease-in-out;
  }

input:focus{
    outline: none;
}

#login-form input::placeholder{
    color: lightgray;
}

#login-form input:focus{
    border-color: var(--yellow);
}

#login-form input[type="submit"]{
    background-color: var(--yellow);
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 5px;
}

#login-form a{
    text-align: center;
    text-decoration: none;
    color: inherit; /*get color from parents*/
    font-size: 13px;
}